@model WebApplication2.Models.BrowserClients

@{
    ViewBag.Title = "BrowserClients";
}


<h2>BrowserClients</h2>

<p>
    name = @Html.DisplayFor(model => model[0].type)
</p>
<p>
    name = @Html.DisplayFor(model => model[0].name)
</p>
<p>
    name = @Html.DisplayFor(model => model[0].status)
</p>
<p>
    name = @Html.DisplayFor(model => model[0].average_time)
</p>
<p>
    name = @Html.DisplayFor(model => model[0].message)
</p>



